img{
    width: 150px;
    height: 100px;
}

nav{
    display: flex;
    border: 1px solid indigo;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li{
    list-style: none;
    margin-right: 25px;
    font-size: 25px
}

a{
    text-decoration: none;
}